asgiref==3.8.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
cffi==1.17.1
cryptography==43.0.1
Django==4.2.16
django-bootstrap-v5==1.0.11
django-livereload==1.7
django-livereload-server==0.5.1
lxml==5.3.0
paramiko==3.5.0
psycopg==3.2.2
pycparser==2.22
PyNaCl==1.5.0
python-gvm==24.8.0
pytz==2024.2
soupsieve==2.6
sqlparse==0.5.1
tornado==6.4.1
typing_extensions==4.12.2
