{% extends "myapp/base.html" %} 
{% block title %}Hosts{% endblock %}
{% block content %}



<div class="container-fluid">
    <a href="{% url 'hosts' %}" class="btn btn-primary me-2"><i class="fa-solid fa-network-wired"></i> Run Netdiscover</a>
    <button data-bs-toggle="modal" data-bs-target="#addTargetsModal" type="submit" class="btn btn-success"><i class="fa-solid fa-circle-plus me-1"></i>Aggiungi a Targets</button>
</div>
<form action="{% url 'targets' %}" method="post">
    {% csrf_token %}
    <table class="table table-hover m-1">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">IP Address</th>
                <th scope="col">MAC Address</th>
                <th scope="col">MAC Vendor</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
            <tr>
                <th scope="row">
                    <input class="form-check-input" type="checkbox" value="{{device.IP}}" name="selected_hosts" id="check_{{ forloop.counter }}" onchange="toggleMacVendor('{{ device.IP }}', this)">
                {% comment %} <input type="hidden" name="name" value="{{device.MAC_Vendor}}"> {% endcomment %}
                    <input type="hidden" name="mac_vendors_{{ device.IP }}" value="{{ device.MAC_Vendor }}" id="hidden_mac_{{ device.IP }}" disabled>
                </th>
                <td><i class="fa-solid fa-ethernet me-1"> </i>{{device.IP}}</td>
                <td><i class="fa-solid fa-desktop me-1"> </i>{{device.MAC_Address}}</td>
                <td><i class="fa-solid fa-building me-1"> </i>{{device.MAC_Vendor}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<!--</form>-->


{% include "myapp/components/modal_hosts.html" %}

{% endblock %}